* {
    margin: 0;
    box-sizing: border-box;
    color : #1f2d3d;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f2d3d;
}
button {
    border: none;
    padding: 0;
}


ul,li {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}


h3 {
    font-size: 16px;
    font-weight: normal;
    height: 56px;
    line-height: 56px;
    padding: 0 16px;
}

.dropdown {
    position: relative;
}

.dropdown-button {
    position: absolute;
    top: -49px;
    right: 0;
    width: 40px;
    background-color: transparent;
    cursor: pointer;
}


.dropdown-button:focus,
.dropdown-button:active {
    box-shadow: none;
    outline: none;
}

.dropdown-button img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.dropdown-menu {
    width: 280px;
    padding: 8px 0;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 1px 15px rgba(27, 31, 35, 0.15);
    transition: transform 200ms ease-in;
    visibility: hidden;
}

.dropdown-menu.active {
    visibility: visible;
}

.dropdown-menu:hover {
    transform: translateY(2px);
  }

.dropdown-menu::before {
    content: "";
    position: absolute;
    top: -18px;
    right: 12px;
    width: 0;
    height: 0;
    border-top: 9px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 9px solid #fff;
    border-right: 8px solid transparent;
  }

.dropdown-menu-container ul {
    padding: 8px 0;
    border-top: 1px solid #eee;
}

.dropdown-menu-item {
    height: 44px;
}

.dropdown-menu-item a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 44px;
    padding: 0 16px;
}

.dropdown-menu-item:hover a {
    background-color: #0366d6;;
    color: #fff;
}