* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #1F2D3D;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #1F2D3D;
    background-color: #DDDDDD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sr-only {
    position:absulute;
    top:-999px;
    height:-999px;
    width:1px;
    height:1px;
    overflow:hidden;
    opacity:0;
}

.card-image {
    position: relative;
    width: 360px;
    height: 265px;
    border-radius: 10px;
}

.card-image:hover .card-title {
    display: flex;
}

.card-image img{
    display: block;
    width: 100%;
    height: 100%;
}

.card-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3333333333;
    color: #FFFFFF;
    background-image: linear-gradient(180deg,
     rgba(0,0,0,0) 0%, 
     rgba(0,0,0,0.375776) 57.03%, 
     #000000 100%);
     display: none;
}

.user-image {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.user-image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.card-user a {
    display: flex;
}

.card-stats {
    display: flex;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
}

.stats-comments {
    margin-right: 11.5px;
}


.stats-comments dd::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5.5px;
    background-image: url(./assets/icon-comment-muted.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

}

.stats-likes dd::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5.5px;
    background-image: url(./assets/icon-favorite-muted.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

}


