@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.02em;
    background-color: #dddddd;
  }
  
  h1 {
    font-size: 16px;
    font-weight: 400;
    color: #1f2d3d;
    line-height: 1.25;
  }
  
  strong {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 14px;
    font-weight: 400;
    color: #afb3b9;
    line-height: 1.4285714286;
  }
  
  p {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
    color: #79818b;
    line-height: 1.5;
  }

  /* ▼ WHERE YOUR CODE BEGINS */

.card::after {
    content: "";
    display: block;
    clear: left;
}

.card {
    width: 531px;
    padding: 20px 20px;
    background-color: #ffffff;
}

.card-user {
    float: left;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.card-content {
    float: left;
    margin-left: 20px;
}