@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.01em;
    height: 100vh;
  }

a {
    text-decoration: none;
}


.banner-title a {
    display: block;
    text-align: center;
    padding: 28px 0;
    font-size: 18px;
    font-weight: 700;
    background-color: #FFC82C;
    color: #1F2D3D;
}

.landing {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-image: url(./img-bg.jpg);
}

.landing-title strong {
    font-size: 50px;
    font-weight: 900;
    color: #ffffff;
}

.landing-title {
    width: 400px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 32px;
    color: #ffffff;
}

 .landing-link {
     display: block;
     width: 180px;
     padding: 16px 0;
     border: 2px solid #ffffff;
     border-radius: 16px;
     font-size: 18px;
     font-weight: 700;
     color: #ffffff;
 }